<!-- <div class="main" style="height: 50rem;">
    <div class="container" style="padding:2%; ">
        <h1 style="color: white;">Saiwani Publication</h1> <br>
        <div class="row">
            <div class="col-md-3" style="margin-right: -10px;">
                <img style="width: 100%;height:27rem" src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/81vIK+D77kL.jpg" alt="">
            </div>
            <div class="col-md-6 g"style="margin-right: -10px;" >
                <h2 style="color: white;">Book</h2>
                <p style="color: white;font-size: 14px;">We have a very good collection of books on Yoga and Pranayama written by Swami Ramdev and
                     eminent Yogacharya of Patanjali. These books are avalable on various topics like yoga, 
                     pranayam, health,various Aasan and breathing techniques.
                      These books can help you to learn the techniques of yoga.</p>
                      <br>
                <h2 style="color: white;">Media</h2>
                <p style="color: white;font-size: 14px;">We have wide range of CD's and DVD's based on the various topics of yoga, Pranayama, 
                    Ayurveda, bhajans and education. One can easily learn yoga by watching the yoga cd's. 
                    Our Ayurveda CD's provide extensive knowledge of the subject and importance of medicinal
                     values of various herbs and shrubs.
                     Our devotional music cd's and dvd's are melodious to leave you immersed in bhakti of God.</p>
            </div>
            <div class="col-md-3">
                <img style="width: 100%;height: 27rem;" src="https://cdn.exoticindia.com/images/products/original/books/nzh100.jpg" alt="">
            </div>
        </div>
    </div> 
</div>

<div style="background-color: rgb(255, 119, 0);  text-align: center;">
    <p style="font-size: 40px;color: white; padding: 2%;"><b>Prosperity for 100% Charity</b></p>
</div>

<br><br>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card h">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6" >
                            <div class="box" >
                                <i class="fa-solid fa-thumbs-up"></i>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="text">
                                <p style="color: orange; font-size: 30px;">Safe Payments</p>
                                <p style="font-size: 15px;">Multiple Payment Options</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="box">
                                <i class="fa-solid fa-truck"></i>
                                
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="text">
                                <h1 style="color: orange; font-size: 30px;">Free Shipping</h1>
                                <p style="font-size: 15px;">Shop over Rs.1000/-and get shipping free.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="box">
                                <i class="fa fa-phone"></i>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <h1 style="color: orange; font-size: 30px;">COD Service</h1>
                                <p style="font-size: 15px;">Shop over Rs.999/- and get COD free.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div> -->


 <!-- <app-navbar></app-navbar> -->
<app-cards></app-cards>
<app-slider></app-slider>
<!-- <router-outlet></router-outlet> -->
<!-- <app-charity></app-charity> -->
<app-footer></app-footer>