
<br><br>
<div class="container">
    <div class="div">
        <h1>Cloth Shop's</h1>
        <button  [routerLink]="['/dashboard']" class="btn btn-success btn-lg" style=" background-color: rgb(30, 31, 30);">Back</button>
    </div>
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <img class="images"
                            src="https://lh3.googleusercontent.com/j8FePNUZFMj9cKha4sUFGuN49qG_cYr99GO-PkNUQsSssh_Z_VtBRXZv_QsqM4Af0fubHZnnrMYo1TacPZKrYHB9nDQ=w512-rw"
                            alt=""> 
                            <div class="card-body">
                              <h3 class="card-text">Saree center</h3>
                            </div>
                          </div>
                        
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img class="images"
                                    src="https://content.jdmagicbox.com/comp/ahmednagar/y8/9999px241.x241.150424141739.y1y8/catalogue/sanyukta-fashion-loni-bk-ahmednagar-readymade-garment-retailers-9pn6gk3-250.jpg"
                                    alt="">
                            <div class="card-body">
                                    <h3 class="card-text" >Shirts</h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card"> 
                            <img class="images"
                                    src="https://content.jdmagicbox.com/comp/sakti/e8/9999p7757.7757.171202210853.i2e8/catalogue/ramavatar-traders-sakti-1owazzc8sp.jpg?clr="
                                    alt="">
                            <div class="card-body">
                                
                                    <h3  class="card-text" >Shop</h3>
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                             <img class="images"
                            src="https://content.jdmagicbox.com/comp/tumkur/d9/9999px816.x816.190119173834.h8d9/catalogue/nakshatra-fashion-upparahalli-tumkur-tumkur-readymade-garment-retailers-ybujmu7v22.jpg?clr="
                            alt="">
                            <div class="card-body">
                               
                                    <h3 class="card-text"> Nakshatra</h3>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img class="images"
                            src="https://images.jdmagicbox.com/comp/harda/u4/9999p7577.7577.190212103955.a1u4/catalogue/vastram-readymade-showroom-harda-0h0hz7skjj.jpg"
                            alt="">
                            <div class="card-body">
                                    <h3 class="card-text">Vastram</h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <img class="images"
                            src="https://lh3.googleusercontent.com/p/AF1QipMBXL0v6hwSQ8Pf7DcsDuwyAbdHUiIJe1NDt5S_=w768-h768-n-o-v1"
                            alt="">
                            <div class="card-body">
                               
                                    <h3 class="card-text">Sai saree</h3>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <img class="images"
                                    src="https://prachinayurvedkutir.com/media/catalog/product/cache/1/image/1000x1000/16ea187c1df8e3224a15603192f6c604/m/y/myaxyl_oil_60ml_by_kerala_ayurveda.png"
                                    alt="">
                                <div class="dic">
                                    <h3>Syrup</h3>
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <img class="images"
                                    src="https://www.ayurvikalp.com/upload/product/zoomimage/Pilogest.JPG" alt="">
                                <div class="dic">
                                    <h3>Tablets</h3>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <img class="images"
                                    src="https://www.keralaayurveda.biz/media/user_v1oz1Yz27j/5114/WhatsApp-Image-2022-10-13-at-11.55.01-AM.jpeg"
                                    alt="">
                                <div class="dic">
                                    <h3>Herbal Oils</h3>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <img class="images"
                                    src="https://www.keralaayurveda.biz/media/user_v1oz1Yz27j/2631/11.png" alt="">
                                <div class="dic">
                                    <h3></h3>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <img class="images"
                                    src="https://i0.wp.com/bestherbalremedies.co/wp-content/uploads/2019/03/Gudmar-1.png?fit=1580%2C1580&ssl=1"
                                    alt="">
                                <div class="dic">
                                    <h3>Tablets</h3>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <img class="images"
                                    src="https://ayurvedaemart.com/public/uploads/all/qio65FjBvA2jbDVFnzgazlwllxSeEKjVpt9i3xBg.jpg"
                                    alt="">
                                <div class="dic">
                                    <h3>Syrup</h3>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" style="color: chocolate;" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>