<br><br>

<div class="container">
    <div class="div">
     <h1 [routerLink]="['']">furniture Shop's </h1> 
     <button [routerLink]="['/dashboard']" class="btn btn-success btn-lg" style="margin-left: 5%; background-color: rgb(26, 27, 26);">Back</button>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img class="images" src="https://content.jdmagicbox.com/comp/bhopal/e8/0755px755.x755.191127151109.s8e8/catalogue/shree-marketing-bhopal-27nv9qdalp-250.jpg?clr=" alt="">
                    <div class="dic"> <br>
                        <h3>furniture</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img class="images" src="https://content.jdmagicbox.com/comp/bhopal/65/0755p755std701665/catalogue/burhani-enterprises-bhopal-gpo-bhopal-furniture-dealers-ltroet1fb2.jpg?clr=" alt="">
                    <div class="dic"><br>
                        <h3>Sairam shop</h3>
                   
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img class="images" src="https://content.jdmagicbox.com/comp/ernakulam/c8/0484px484.x484.181022111621.s3c8/catalogue/alunkal-furniture-and-interiors-kuzhuveulipady-ernakulam-wooden-furniture-dealers-0rz1cgewej.jpg?clr=" alt="">
                    <div class="dic"> <br>
                        <h3>Ved medical</h3>
                   
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img class="images" src="https://content.jdmagicbox.com/comp/shirdi/j2/9999px241.x241.140721171312.r7j2/catalogue/somwanshi-furnitures-rahata-shirdi-home-furniture-dealers-unoq20n2wa.jpg?clr=" alt="">
                    <div class="dic"> <br>
                        <h3>Somvanshi</h3>
                   
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img class="images" src="https://content.jdmagicbox.com/comp/jaunpur/t2/9999p5452.5452.171021153021.n8t2/catalogue/sai-furniture-jaunpur-furniture-dealers-2iyfa.jpg" alt="">
                    <div class="dic"><br>
                        <h3>Om furniture</h3>
                   
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img class="images" src="https://content.jdmagicbox.com/comp/ahmednagar/m7/9999p2423.2423.190410122129.w3m7/catalogue/om-sai-furniture-kopargaon-furniture-dealers-ja57jj6t77.jpg?clr=" alt="">
                    <div class="dic"><br>
                        <h3>Sai medical</h3>
                   
                    </div>
                </div>
            </div>
        </div>
    </div>

    
 </div>