<div style="position: fixed; "  id="header" class="light-header ">
    <div class="header-top-row">
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-sm-7 hidden-xs">
            <div class="top-welcome ">
              <p> <i class="fa fa-envelope"></i> &nbsp;&nbsp;<a>customercare@.co.in</a>
                <a class="" style="background-color: #FF7F27;padding: 11px 8px;margin-left: 9px;"
                  href="">Notice</a>
              </p>
            </div>
          </div>
          <div class="col-md-7 col-sm-5 col-xs-12">
            <div class="">
              <a class="hidden-sm" target="_blank" href="http://bit.ly/2OISEkI">
                <div class="play-icon"></div>
              </a>
              <div id="lang" class="pull-right">
                <!--<a href="javascript:void(0)" class="lang-title">Contact us </a>-->
              </div>
              <!-- header - language -->
              <div id="lang" class="pull-right">
                <a href="/customer/register" class="lang-title">Register </a>
              </div>
              <div id="lang" class="pull-right">
                <a href="/customer/login" class="lang-title">Login </a>
              </div>
              <div class="socials-block hidden-xs">
                <ul class="list-unstyled list-inline">
                  <li><a title="Facebook" target="_blank" href="https://www.facebook.com/PatanjaliAyurved.net">
                    <img class="iconimg"
                        src="/assets/facebook.png" /></a></li>
                  <li><a title="Twitter" target="_blank" href="https://twitter.com/pypayurved"><img
                       class="iconimg" src="/assets/twiter.png" /></a></li>
                  <li><a title="Youtube" target="_blank" href="https://www.youtube.com/user/patanjaliayurveda"><img
                    class="iconimg" src="/assets/youtube.png" /></a></li>
                  <li><a title="Instagram" target="_blank" href="https://www.instagram.com/patanjaliproducts"><img
                    class="iconimg"  src="/assets/instagram.png" /></a></li>
                  <li><a title="Pinterest" target="_blank" href="https://in.pinterest.com/saiwawnai"><img
                    class="iconimg" src="/assets/pintrest.png" /></a></li>
                </ul>
              </div>
              <!-- /header - currency -->
            </div>
          </div>
        </div>
      </div>
    </div>
   
    <div class="header-bg  header-bg-fixed">
      <div class="header-main header-main-fixed" id="header-main-fixed">
        <div class="header-main-block1">
          <div class="container">
            <div id="container-fixed">
              <div class="row">
                <div class="col-md-3 main-logo col-xs-12 col-sm-4">
  
                    <img class="image" src="/assets/logo.png" alt="">
  
                  <div class="header-mini-cart  pull-right hidden-lg visible-xs">
                    <a href="#" data-toggle="dropdown">
                      <p><span class='cart-count'></span> item(s)-Rs.
                        <label class="cartprice">
                          0 </label>
                      </p>
                    </a>
                    <div class="dropdown-menu shopping-cart-content pull-right">
                      <div class="shopping-cart-items">
                        <div class="minicart">
                        </div>
                        <div class="total pull-left">
                          <table>
                            <tbody class="pull-right">
                              <tr>
                                <td><b>Sub-Total:</b></td>
                                <td><span class="cartprice">0</span></td>
                              </tr>
  
                              <tr>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr class="color-active">
                                <td><b>Total:</b></td>
                                <td><b>RS </b><span class="cartprice"> 0</span>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <a href="/checkout"
                            class="btn btn-primary btn-read pull-right">Checkout</a>
  
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-xs-12 col-sm-5">
                  <div class="top-search-form pull-left">
                    <form action="#" method="get" name="searchproducts" id="searchproducts">
                      <input type="hidden" name="authtoken" value="9101e672ed76a1b6c38611027dffe750">
                      <input type="text" id="search" name="search" class="form-control" placeholder="Search for..."
                        required>
                      <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                  </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 hidden-xs">
                  <div class="header-mini-cart  pull-right">
                    <a href="#" data-toggle="dropdown">
                      <p style="font-size: 10px;"><span class='cart-count'></span> item(s)-Rs.
                        <label class="cartprice">
                          0 </label>
                      </p>
                    </a>
                    <div class="dropdown-menu shopping-cart-content pull-right">
                      <div class="shopping-cart-items">
                        <div class="minicart">
                        </div>
                        <div class="total pull-left">
                          <table>
                            <tbody class="pull-right">
                              <tr>
                                <td><b>Sub-Total:</b></td>
                                <td><span class="cartprice">0</span></td>
                              </tr>
  
                              <tr>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr class="color-active">
                                <td><b>Total:</b></td>
                                <td><b>RS </b><span class="cartprice"> 0</span>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <a href="checkout" class="btn btn-primary btn-read pull-right">Checkout</a>
  
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
        </div>
      
          <nav class="navbar navbar-expand-lg  bg-dark f">
            <div style="padding-left: 10%; padding-right:5%;" class="container-fluid">
              <a class="navbar-brand" href="#" [routerLink]="['/dashboard']"><i style="color: #FF7F27; text-align: center; font-size: larger; padding-left: 155%; " class="fa-solid fa-house"></i></a>
             
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" style="background-color: white;"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item dropdown m">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      All Categories
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item m" href="#" [routerLink]="['/saimurtishop']" >Sai Murti Shop</a></li>
                      <li><a class="dropdown-item m" href="#" [routerLink]="['/clothesshop']" >Cloth Shop</a></li>
                      <li><a class="dropdown-item m" href="#" [routerLink]="['/glosarryshop']" >Glossary Shop</a></li>
                      <li><a class="dropdown-item m" href="#" [routerLink]="['/electronicshop']" >Electronic Shop</a></li>
                      <li><a class="dropdown-item m" href="#" [routerLink]="['/jewellaryshop']" >Jewellery Shop</a></li>
                      <li><a class="dropdown-item m" href="#" [routerLink]="['/bookshop']" >Book Shop</a></li>
                      <li><a class="dropdown-item m" href="#" [routerLink]="['/medicalshops']" >Medical Shop</a></li>
                      <li><a class="dropdown-item m" href="#" [routerLink]="['/furnitureshop']" >Furniture Shop</a></li>
                    </ul>
                  </li>

                  <li class="nav-item m">
                    <a class="nav-link active" aria-current="page" href="#">SSC</a>
                  </li>
                  <li class="nav-item m">
                    <a class="nav-link" href="#">Credit Card</a>
                  </li>
                  <li class="nav-item m">
                    <a class="nav-link" href="#">Best Sellers</a>
                  </li>
                  <li class="nav-item m">
                    <a class="nav-link" href="#">All Products</a>
                  </li>

                  <li class="nav-item dropdown m">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Product Base
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item m" [routerLink]="['/electronicshop']" href="#">T.V</a></li>
                      <li><a class="dropdown-item m" [routerLink]="['/glosarryshop']" href="#"> Fortune Oil</a></li>
                      <li><a class="dropdown-item m" [routerLink]="['/furnitureshop']" href="#">Sofa</a></li>
                      <li><a class="dropdown-item m" [routerLink]="['/medicalshops']" href="#">Medicine</a></li>
                      <li><a class="dropdown-item m" [routerLink]="['/saimurtishop']" href="#">Sai Murti</a></li>
                      <li><a class="dropdown-item m" [routerLink]="['/jewellaryshop']" href="#">Jewellery</a></li>
                      <li><a class="dropdown-item m" [routerLink]="['/clothesshop']" href="#">Shirts</a></li>
                    </ul>
                  </li>

                  <li class="nav-item m">
                    <a class="nav-link" href="#">Offers/Discount</a>
                  </li>

                  <li class="nav-item m">
                    <a class="nav-link" href="#"> <i style="color: #FF7F27;"class="fa-sharp fa-solid fa-location-dot"></i>  Store Locator</a>
                  </li>

                </ul>
              </div>
            </div>
          </nav>
        
      </div>
      <!-- /header-main-menu -->
    </div>
  </div>
  

  



<!-- 
<nav class="navbar navbar-expand-lg bg-body-tertiary" style="z-index: 2;">
    <div class="container-fluid">
     
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" routerLink="/home">HOME</a>
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" routerLink="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      ABOUT
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/maindirector">Main Director</a></li>
            <li><a class="dropdown-item" routerLink="/independent">Independent Directors</a></li>
            
          </ul>
        </li>
            <li class="nav-item dropdown">
              <a class="nav-link active dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
              PRODUCTS
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item"  routerLink="/forging">Forging Parts</a></li>
              <li><a class="dropdown-item"  routerLink="/stamping">Stamping Parts</a></li>
              <li><a class="dropdown-item" routerLink="/fabrication">Heavy Fabrication</a></li>
              <li><a class="dropdown-item"  routerLink="/investement">Investement Casting</a></li>
              <li><a class="dropdown-item"  routerLink="/sgi">SGI casting</a></li>
              <li><a class="dropdown-item"  routerLink="/machine">Machined parts</a></li>
              <li><a class="dropdown-item"  routerLink="/rubber">Rubber</a></li>
              <li><a class="dropdown-item"  routerLink="/plastic">Plastic</a></li>




            </ul>
          </li>
          <a class="nav-link active" routerLink="/products">PRODUCTS</a>
          <a class="nav-link active" routerLink="/enquiry">ENQUIRY</a>
          <a class="nav-link active" routerLink="/contactus">CONTACT US</a>

        </div>
        <hr>
      </div>
    </div>
  </nav> -->