
<div class="container">
    <div class="div">
     <h1 [routerLink]="['/glosarryshop']">Glossary Shop's</h1> 
     <button [routerLink]="['/glosarryshop']" class="btn btn-success btn-lg" style="margin-left: 5%; background-color: rgb(26, 212, 16);">Click to View</button>
    </div>

    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://lh5.googleusercontent.com/p/AF1QipOLKiA_qbqSph7TVbLJFzRjOwWwVAz-p8kobnak" alt="">
                            <div class="dic">
                                <p>Sai Store</p>
                            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://content.jdmagicbox.com/comp/akola/c1/9999px724.x724.140505153210.q6c1/catalogue/janata-departmental-super-shopee-akola-ho-akola-supermarkets-zx8gn18.jpg" alt="">
                            <div class="dic">
                                <p>Gloassary </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://content.jdmagicbox.com/comp/kopargaon/l6/9999p2423.2423.181128162211.j1l6/catalogue/shree-siddheshwar-super-market-kopargaon-1y4iablzwg.jpg" alt="">
                            <div class="dic">
                                <p>Siddheshvar </p>
                        
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://content.jdmagicbox.com/comp/mumbai/d8/022pxx22.xx22.181119174748.u9d8/catalogue/patel-super-market-mumbai-1vphsple2h-250.jpg" alt="">
                            <div class="dic">
                                <p>Sainath Store</p>
                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://lh3.googleusercontent.com/5Ycbj47a8PrZmxKIKgZg794HhsuYxHYTbQuhbpcRELd4U5wTatlIx33k-ZunRuynTzGK1uRocITA7gwfN106FHgjCQ=w400-rw" alt="">
                            <div class="dic">
                                <p>SAi shop</p>
                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://5.imimg.com/data5/IOS/Default/2020/9/SN/VK/RO/23271466/product-jpeg-500x500.png" alt="">
                            <div class="dic">
                                <p>Shreesai Shop</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
         
          <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
 </div>


 <div class="container">
    <div class="div">
     <h1 [routerLink]="['/electronicshop']">Electonic Shop's</h1> 
     <button [routerLink]="['/electronicshop']" class="btn btn-success btn-lg" style="margin-left: 5%; background-color: rgb(26, 212, 16);">Click to View</button>
    </div>

    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://content.jdmagicbox.com/comp/pune/y4/020p1229327143v9l5y4/catalogue/maharashtra-agencies-thergaon-pune-ac-dealers-by3jw.jpg?clr=" alt="">
                            <div class="dic">
                                <p>SainathElectronic</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://content.jdmagicbox.com/comp/junagadh/u7/9999px285.x285.110814150035.r5u7/catalogue/audio-plus-electronics-junagadh-ho-junagadh-electronic-goods-showrooms-cthar.jpg" alt="">
                            <div class="dic">
                                <p>sai electronic</p>
                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://content.jdmagicbox.com/comp/kopargaon/r5/9999p2423.2423.140416224608.a8r5/catalogue/raviraj-electronics-kopargaon-hv1ywcjwp7.jpg?clr=" alt="">
                            <div class="dic">
                                <p>Ravirajelectronic</p>
                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://content.jdmagicbox.com/comp/ratnagiri/e3/9999p2350.2350.110207124606.q8e3/catalogue/deep-enterprises-khed-ratnagiri-ac-dealers-hitachi-edq8mlcb68.jpg?clr=" alt="">
                            <div class="dic">
                                <p>DeepElectronic</p>
                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://content.jdmagicbox.com/comp/rewa/w6/9999p7662.7662.190822190217.z6w6/catalogue/tripathi-enterprises-tripathi-electricals--rewa-city-rewa-electrical-shops-0op3byvfy8.jpg" alt="">
                            <div class="dic">
                                <p>TripathiElectronic</p>
                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://content.jdmagicbox.com/comp/raipur-chhattisgarh/i3/9999px771.x771.140113153209.w2i3/catalogue/om-electricals-m-g-road-raipur-raipur-chhattisgarh-electrical-goods-dealers-2viqxnerqv.jpg?clr=" alt="">
                            <div class="dic">
                                <p>Om Electronic</p>
                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://prachinayurvedkutir.com/media/catalog/product/cache/1/image/1000x1000/16ea187c1df8e3224a15603192f6c604/m/y/myaxyl_oil_60ml_by_kerala_ayurveda.png" alt="">
                            <div class="dic">
                                <p>Syrup</p>
                            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://www.ayurvikalp.com/upload/product/zoomimage/Pilogest.JPG" alt="">
                            <div class="dic">
                                <p>Tablets</p>
                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://www.keralaayurveda.biz/media/user_v1oz1Yz27j/5114/WhatsApp-Image-2022-10-13-at-11.55.01-AM.jpeg" alt="">
                            <div class="dic">
                                <p>Herbal Oils</p>
                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://www.keralaayurveda.biz/media/user_v1oz1Yz27j/2631/11.png" alt="">
                            <div class="dic">
                                <p></p>
                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://i0.wp.com/bestherbalremedies.co/wp-content/uploads/2019/03/Gudmar-1.png?fit=1580%2C1580&ssl=1" alt="">
                            <div class="dic">
                                <p>Tablets</p>
                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://ayurvedaemart.com/public/uploads/all/qio65FjBvA2jbDVFnzgazlwllxSeEKjVpt9i3xBg.jpg" alt="">
                            <div class="dic">
                                <p>Syrup</p>
                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
 </div>

<br>

 <div class="container">
    <div class="div">
     <h1 [routerLink]="['/jewellaryshop']">Jewellery Shop</h1> 
     <button [routerLink]="['/jewellaryshop']" class="btn btn-success btn-lg" style="margin-left: 5%; background-color: rgb(26, 212, 16);">Click to View</button>
    </div>

    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://content3.jdmagicbox.com/comp/thane/w6/022p1236982906j4w6w6/catalogue/nakoda-jewellers-thane-west-thane-jewellery-showrooms-rohw5mfj30.jpg" alt="">
                            <div class="dic">
                                <p>Nakoda Jewellers</p>
                            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://content.jdmagicbox.com/comp/jabalpur/v3/9999px761.x761.221229151935.e9v3/catalogue/gauri-jewellers-jabalpur-jabalpur-jewellery-showrooms-5z55i68v7x-250.jpg?clr=" alt="">
                            <div class="dic">
                                <p>Gauri Jewellers</p>
                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://lh3.googleusercontent.com/aWfx7DL_1A8_leEdRBvw8TgHDywpu99ZD7QEBtVHl7TsFZDNHg1vSg4rkcbAnUY54U9G70bs99vOz1KXEHHTs_9MBnU=w400-rw" alt="">
                            <div class="dic">
                                <p>Ranka</p>
                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://www.shutterstock.com/image-photo/shirdi-maharashtra-india-august-2018-260nw-1294708663.jpg" alt="">
                            <div class="dic">
                                <p>Imitation jewellery</p>
                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://content.jdmagicbox.com/comp/bhopal/u6/0755px755.x755.220729211203.f5u6/catalogue/trisman-jewellers-tt-nagar-bhopal-jewellery-showrooms-yefk5byji4.jpg?clr=" alt="">
                            <div class="dic">
                                <p>Rudra jewellers</p>
                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://imgmedia.lbb.in/media/2019/12/5e04ad37ca6ac2555f756458_1577364791776.jpg" alt="">
                                <p>Pragti Jewellers</p>
                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://prachinayurvedkutir.com/media/catalog/product/cache/1/image/1000x1000/16ea187c1df8e3224a15603192f6c604/m/y/myaxyl_oil_60ml_by_kerala_ayurveda.png" alt="">
                            <div class="dic">
                                <p>Syrup</p>
                            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://www.ayurvikalp.com/upload/product/zoomimage/Pilogest.JPG" alt="">
                            <div class="dic">
                                <p>Tablets</p>
                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://www.keralaayurveda.biz/media/user_v1oz1Yz27j/5114/WhatsApp-Image-2022-10-13-at-11.55.01-AM.jpeg" alt="">
                            <div class="dic">
                                <p>Herbal Oils</p>
                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://www.keralaayurveda.biz/media/user_v1oz1Yz27j/2631/11.png" alt="">
                            <div class="dic">
                                <p></p>
                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://i0.wp.com/bestherbalremedies.co/wp-content/uploads/2019/03/Gudmar-1.png?fit=1580%2C1580&ssl=1" alt="">
                            <div class="dic">
                                <p>Tablets</p>
                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://ayurvedaemart.com/public/uploads/all/qio65FjBvA2jbDVFnzgazlwllxSeEKjVpt9i3xBg.jpg" alt="">
                            <div class="dic">
                                <p>Syrup</p>
                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
 

 <br>
 <div class="container">
    <div class="div">
     <h1 [routerLink]="['/bookshop']">Book Shop's</h1> 
     <button [routerLink]="['/bookshop']" class="btn btn-success btn-lg" style="margin-left: 5%; background-color: rgb(26, 212, 16);">Click to View</button>
    </div>

    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://content.jdmagicbox.com/comp/ahmednagar/d9/9999px241.x241.120612193700.z4d9/catalogue/pravara-pustak-bhandar-ahmednagar-1v6tyv1vcy.jpg?clr=" alt="">
                            <div class="dic">
                                <p>Sai books</p>
                            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://2.bp.blogspot.com/_e5MBHXtTth8/TPCsSJMhyZI/AAAAAAAAA-I/dYdUWcernPM/s1600/%255B+Books+on+the+Sai+%255D.JPG" alt="">
                            <div class="dic">
                                <p>DhyanBooks</p>
                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://5.imimg.com/data5/SELLER/Default/2023/2/VR/KN/GP/184237518/121-500x500.JPG" alt="">
                            <div class="dic">
                                <p>Jaysai</p>
                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://content.jdmagicbox.com/comp/hyderabad/k3/040pxx40.xx40.001040100636.u5k3/catalogue/shirdi-sai-book-agency-osmangunj-hyderabad-book-shops-3fp9e0q.jpg" alt="">
                            <div class="dic">
                                <p>BOoks</p>
                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://images.jdmagicbox.com/comp/chennai/b9/044pxx44.xx44.140106125827.q8b9/catalogue/saraswathi-stores-tambaram-west-chennai-book-shops-47yspmm.jpg?clr=" alt="">
                            <div class="dic">
                                <p>Pustak</p>
                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://p0.pxfuel.com/preview/26/718/395/books-kids-children-display.jpg" alt="">
                            <div class="dic">
                                <p>Book house</p>
                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://prachinayurvedkutir.com/media/catalog/product/cache/1/image/1000x1000/16ea187c1df8e3224a15603192f6c604/m/y/myaxyl_oil_60ml_by_kerala_ayurveda.png" alt="">
                            <div class="dic">
                                <p>Syrup</p>
                            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://www.ayurvikalp.com/upload/product/zoomimage/Pilogest.JPG" alt="">
                            <div class="dic">
                                <p>Tablets</p>
                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://www.keralaayurveda.biz/media/user_v1oz1Yz27j/5114/WhatsApp-Image-2022-10-13-at-11.55.01-AM.jpeg" alt="">
                            <div class="dic">
                                <p>Herbal Oils</p>
                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://www.keralaayurveda.biz/media/user_v1oz1Yz27j/2631/11.png" alt="">
                            <div class="dic">
                                <p></p>
                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://i0.wp.com/bestherbalremedies.co/wp-content/uploads/2019/03/Gudmar-1.png?fit=1580%2C1580&ssl=1" alt="">
                            <div class="dic">
                                <p>Tablets</p>
                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://ayurvedaemart.com/public/uploads/all/qio65FjBvA2jbDVFnzgazlwllxSeEKjVpt9i3xBg.jpg" alt="">
                            <div class="dic">
                                <p>Syrup</p>
                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
 </div>


 <br>
 <div class="container">
    <div class="div">
     <h1 [routerLink]="['/medicalshops']" >Medical Shop's </h1> 
     <button [routerLink]="['/medicalshops']" class="btn btn-success btn-lg" style="margin-left: 5%; background-color: rgb(26, 212, 16);">Click to View</button>
    </div>

    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://5.imimg.com/data5/ANDROID/Default/2022/12/CP/DH/WH/94921520/product-jpeg-1000x1000.jpg" alt="">
                            <div class="dic">
                                <p>Sai Medical's</p>
                            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://content.jdmagicbox.com/comp/pune/k3/020pxx20.xx20.201212120742.k9k3/catalogue/dev-medical-thergaon-pune-chemists-d73egngvw7.jpg?clr=" alt="">
                            <div class="dic">
                                <p>Dev medicial</p>
                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://im.hunt.in/cg/pune/City-Guide/medical.jpg" alt="">
                            <div class="dic">
                                <p>Ved medical</p>
                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://omsi.in/wp-content/uploads/2018/04/Online-Medical-Store-Baranagar.jpg" alt="">
                            <div class="dic">
                                <p>jay medical</p>
                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://im.hunt.in/cg/Andhra/Kurnool/City-Guide/apollo-pharmacy.jpg" alt="">
                            <div class="dic">
                                <p>ApolloPharmancy</p>
                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://im.hunt.in/cg/cuddalore/City-Guide/medical-shop.jpg" alt="">
                            <div class="dic">
                                <p>Sai medical</p>
                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://prachinayurvedkutir.com/media/catalog/product/cache/1/image/1000x1000/16ea187c1df8e3224a15603192f6c604/m/y/myaxyl_oil_60ml_by_kerala_ayurveda.png" alt="">
                            <div class="dic">
                                <p>Syrup</p>
                            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://www.ayurvikalp.com/upload/product/zoomimage/Pilogest.JPG" alt="">
                            <div class="dic">
                                <p>Tablets</p>
                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://www.keralaayurveda.biz/media/user_v1oz1Yz27j/5114/WhatsApp-Image-2022-10-13-at-11.55.01-AM.jpeg" alt="">
                            <div class="dic">
                                <p>Herbal Oils</p>
                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://www.keralaayurveda.biz/media/user_v1oz1Yz27j/2631/11.png" alt="">
                            <div class="dic">
                                <p></p>
                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://i0.wp.com/bestherbalremedies.co/wp-content/uploads/2019/03/Gudmar-1.png?fit=1580%2C1580&ssl=1" alt="">
                            <div class="dic">
                                <p>Tablets</p>
                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://ayurvedaemart.com/public/uploads/all/qio65FjBvA2jbDVFnzgazlwllxSeEKjVpt9i3xBg.jpg" alt="">
                            <div class="dic">
                                <p>Syrup</p>
                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
 </div>
 <br> <br>

 <div class="container">
    <div class="div">
     <h1 [routerLink]="['/furnitureshop']">furniture Shop's </h1> 
     <button [routerLink]="['/furnitureshop']" class="btn btn-success btn-lg" style="margin-left: 5%; background-color: rgb(26, 212, 16);">Click to View</button>
    </div>

    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://content.jdmagicbox.com/comp/bhopal/e8/0755px755.x755.191127151109.s8e8/catalogue/shree-marketing-bhopal-27nv9qdalp-250.jpg?clr=" alt="">
                            <div class="dic">
                                <p>furniture</p>
                            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://content.jdmagicbox.com/comp/bhopal/65/0755p755std701665/catalogue/burhani-enterprises-bhopal-gpo-bhopal-furniture-dealers-ltroet1fb2.jpg?clr=" alt="">
                            <div class="dic">
                                <p>Sairam shop</p>
                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://content.jdmagicbox.com/comp/ernakulam/c8/0484px484.x484.181022111621.s3c8/catalogue/alunkal-furniture-and-interiors-kuzhuveulipady-ernakulam-wooden-furniture-dealers-0rz1cgewej.jpg?clr=" alt="">
                            <div class="dic">
                                <p>Ved medical</p>
                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://content.jdmagicbox.com/comp/shirdi/j2/9999px241.x241.140721171312.r7j2/catalogue/somwanshi-furnitures-rahata-shirdi-home-furniture-dealers-unoq20n2wa.jpg?clr=" alt="">
                            <div class="dic">
                                <p>Somvanshi</p>
                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://content.jdmagicbox.com/comp/jaunpur/t2/9999p5452.5452.171021153021.n8t2/catalogue/sai-furniture-jaunpur-furniture-dealers-2iyfa.jpg" alt="">
                            <div class="dic">
                                <p>Om furniture</p>
                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://content.jdmagicbox.com/comp/ahmednagar/m7/9999p2423.2423.190410122129.w3m7/catalogue/om-sai-furniture-kopargaon-furniture-dealers-ja57jj6t77.jpg?clr=" alt="">
                            <div class="dic">
                                <p>Sai medical</p>
                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://prachinayurvedkutir.com/media/catalog/product/cache/1/image/1000x1000/16ea187c1df8e3224a15603192f6c604/m/y/myaxyl_oil_60ml_by_kerala_ayurveda.png" alt="">
                            <div class="dic">
                                <p>Syrup</p>
                            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://www.ayurvikalp.com/upload/product/zoomimage/Pilogest.JPG" alt="">
                            <div class="dic">
                                <p>Tablets</p>
                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://www.keralaayurveda.biz/media/user_v1oz1Yz27j/5114/WhatsApp-Image-2022-10-13-at-11.55.01-AM.jpeg" alt="">
                            <div class="dic">
                                <p>Herbal Oils</p>
                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://www.keralaayurveda.biz/media/user_v1oz1Yz27j/2631/11.png" alt="">
                            <div class="dic">
                                <p></p>
                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://i0.wp.com/bestherbalremedies.co/wp-content/uploads/2019/03/Gudmar-1.png?fit=1580%2C1580&ssl=1" alt="">
                            <div class="dic">
                                <p>Tablets</p>
                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://ayurvedaemart.com/public/uploads/all/qio65FjBvA2jbDVFnzgazlwllxSeEKjVpt9i3xBg.jpg" alt="">
                            <div class="dic">
                                <p>Syrup</p>
                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
 </div>

