<div class="container">
    <div class="div">
     <h1 [routerLink]="['/']">Book Shop's</h1> 
     <button [routerLink]="['/dashboard']" class="btn btn-success btn-lg" style="margin-left: 5%; background-color: rgb(29, 30, 29);">Click to View</button>
    </div>

    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://content.jdmagicbox.com/comp/ahmednagar/d9/9999px241.x241.120612193700.z4d9/catalogue/pravara-pustak-bhandar-ahmednagar-1v6tyv1vcy.jpg?clr=" alt="">
                            <div class="dic"> <br>
                                <h3>Sai books</h3>
                            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://2.bp.blogspot.com/_e5MBHXtTth8/TPCsSJMhyZI/AAAAAAAAA-I/dYdUWcernPM/s1600/%255B+Books+on+the+Sai+%255D.JPG" alt="">
                            <div class="dic"><br>
                                <h3>DhyanBooks </h3>
                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://5.imimg.com/data5/SELLER/Default/2023/2/VR/KN/GP/184237518/121-500x500.JPG" alt="">
                            <div class="dic"> <br>
                                <h3>Jaysai</h3>
                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://content.jdmagicbox.com/comp/hyderabad/k3/040pxx40.xx40.001040100636.u5k3/catalogue/shirdi-sai-book-agency-osmangunj-hyderabad-book-shops-3fp9e0q.jpg" alt="">
                            <div class="dic"> <br>
                                <h3>BOoks</h3>
                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://images.jdmagicbox.com/comp/chennai/b9/044pxx44.xx44.140106125827.q8b9/catalogue/saraswathi-stores-tambaram-west-chennai-book-shops-47yspmm.jpg?clr=" alt="">
                            <div class="dic"> <br>
                                <h3>Pustak</h3>
                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://p0.pxfuel.com/preview/26/718/395/books-kids-children-display.jpg" alt="">
                            <div class="dic"> <br>
                                <h3>Book house</h3>
                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://prachinayurvedkutir.com/media/catalog/product/cache/1/image/1000x1000/16ea187c1df8e3224a15603192f6c604/m/y/myaxyl_oil_60ml_by_kerala_ayurveda.png" alt="">
                            <div class="dic">
                                <h3>Syrup</h3>
                            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://www.ayurvikalp.com/upload/product/zoomimage/Pilogest.JPG" alt="">
                            <div class="dic">
                                <h3>Tablets</h3>
                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://www.keralaayurveda.biz/media/user_v1oz1Yz27j/5114/WhatsApp-Image-2022-10-13-at-11.55.01-AM.jpeg" alt="">
                            <div class="dic">
                                <h3>Herbal Oils</h3>
                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://www.keralaayurveda.biz/media/user_v1oz1Yz27j/2631/11.png" alt="">
                            <div class="dic">
                                <h3></h3>
                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://i0.wp.com/bestherbalremedies.co/wp-content/uploads/2019/03/Gudmar-1.png?fit=1580%2C1580&ssl=1" alt="">
                            <div class="dic">
                                <h3>Tablets</h3>
                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <img class="images" src="https://ayurvedaemart.com/public/uploads/all/qio65FjBvA2jbDVFnzgazlwllxSeEKjVpt9i3xBg.jpg" alt="">
                            <div class="dic">
                                <h3>Syrup</h3>
                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
 </div>