
<br><br>
<div class="container">
    <div class="row"> 
        <h1></h1>
        <div class="div">
            <h1>Sai murti shops</h1>
            <button  [routerLink]="['/dashboard']" class="btn btn-success btn-lg" style=" background-color: rgb(30, 31, 30);">Back</button>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img class="images" src="https://content.jdmagicbox.com/comp/shirdi/u8/pwfl1518766882x1a2u8/catalogue/sai-bhagwan-novelties-shirdi-8bc1k-250.jpg" alt="">
                    <div class="dic">
                        <br>
                        <h3>Om Art</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img class="images" src="https://content.jdmagicbox.com/comp/shirdi/f5/9999p2423.2423.150331185644.t3f5/catalogue/om-sai-agnihotri-murti-art-shirdi-god-statue-manufacturers-uag1491o7e-250.jpg" alt="">
                    <div class="dic"> <br>
                        <h3>OmSai</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img class="images" src="https://www.ompoojashop.com/image/cache/Handicrafts/idol-store-1000x1000.jpg" alt="">
                    <div class="dic"> <br>
                        <h3>Artist</h3>
                   
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img class="images" src="https://content3.jdmagicbox.com/comp/delhi/x5/011pxx11.xx11.121006162113.y6x5/catalogue/sanjay-marble-ram-nagar-paharganj-delhi-god-statue-dealers-40zre7z.jpg" alt="">
                    <div class="dic"> <br>
                        <h3>Marbal Art</h3>
                   
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img class="images" src="https://content.jdmagicbox.com/comp/shirdi/u8/pwfl1518766882x1a2u8/catalogue/sai-bhagwan-novelties-shirdi-8bc1k-250.jpg" alt="">
                    <div class="dic"> <br>
                        <h3>Pooja arts</h3>
                   
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img class="images" src="https://1.bp.blogspot.com/_e5MBHXtTth8/TPC0DlQKagI/AAAAAAAAA-o/fB8lXsOoxGY/s1600/%255B+Sai+Baba+in+various+poses+%255D.JPG" alt="">
                    <div class="dic"> <br>
                        <h3>Saibaba art</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>