<br>
<div class="main">   
   
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul class="icon">
                    <li class="i"><i class="fa-brands fa-facebook-f"></i></li>
                    <li class="i"><i class="fa-brands fa-twitter"></i></li>
                    <li class="i"><i class="fa-brands fa-instagram"></i> </li>
                    <li class="i"><i class="fa-brands fa-youtube"></i></li>
                </ul>
            </div>
            <div class="col-md-6">

                <div class="input-group input-group-lg" style="padding: 2%;">
                    <input type="text" class="form-control" aria-label="Sizing example input"
                        placeholder="Enter Your email....." aria-describedby="inputGroup-sizing-lg">
                    <span class="input-group-text" id="basic-addon2">Sign Up ></span>
                    <!-- <span style="margin-left: -7%;">Sign up ></span> -->
                </div>
            </div>
        </div>


        <br><br>
        <div class="row">
            <div class="col-md-4">
                <h1>Information </h1>
                <hr>
                <ul class="l">
                    <li>ABOUT US</li>
                    <li> GENERAL TERMS & CONDITIONS</li>
                    <li>SHIPPING POLICY</li>
                    <li> CANCELLATION POLICY</li>
                    <li> RETURN/REFUND POLICY</li>
                    <li> GRIEVANCE REDRESSAL POLICY</li>
                    <li> PRIVACY POLICY</li>
                    <li> FAQ</li>
                    <li> MEDIA</li>
                    <li> SITE MAP</li>
                    <li> CAUTION NOTICE</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h1>Categories</h1>
                <hr>
                <ul class="l">
                    <li>NATURAL HEALTH CARE </li>
                    <li> NATURAL FOOD PRODUCTS</li>
                    <li> AYURVEDIC MEDICINE </li>
                    <li> HERBAL HOME CARE</li>
                    <li> NATURAL PERSONAL CARE</li>
                    <li> PATANJALI PUBLICATION</li>
                    <li> SAMRIDHI CARD</li>
                    <li> NUTRACEUTICALS</li>
                    <li> PARIDHAN</li>
                    <li> COPPERWARE</li>
                    <li> DAIRY & FROZEN ITEMS</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h1>Get In Touch</h1>
                <hr>
                <ul class="l">
                    <li>Email: customercare@orderme.co.in
                        <br>
                        Patanjali Ayurved Limited,
                        Haridwar, Uttarakhand - 249401
                        Helpline number – 1860-1800-180 & 01334-610111 (Monday to Saturday 6 am to 10 pm)
                    </li>



                </ul>
            </div>
        </div>

        <br><br>

        <div class="row">
            <div class="col-md-4">
                <img src="/assets/gpay.png" alt="">
            </div>
            <div class="col-md-4">
                <h5>Copyright © 2023 Patanjali Ayurved</h5>
            </div>
            <div class="col-md-4">
                <ul style="display: flex; ">
                    <li style="padding: 1%;"><img src="/assets/pay_u.png" alt=""></li>
                    <li style="padding: 1%;"><img src="/assets/g-pay.png" alt=""></li>
                    <li style="padding: 1%;"><img src="/assets/paytm-logo.png" alt=""></li>
                    <li style="padding: 1%;"><img src="/assets/phonepe.png" alt=""></li>
                    <li style="padding: 1%;"><img src="/assets/mobikwik.png" alt=""></li>
                </ul>
            </div>
        </div>

    </div>
</div>